<a class="image_1st thumb" href="/images/anniversary/HDB2.jpg">
  <%= image_tag '/images/anniversary/HDB2.jpg', :width => '220px' %>
</a>

<a class="image_2nd thumb" href="/images/anniversary/HDB9.jpg">
  <%= image_tag '/images/anniversary/HDB9.jpg', :width => '220px' %>
</a>

<a class="image_3rd thumb" href="/images/anniversary/HDB11.jpg">
  <%= image_tag '/images/anniversary/HDB11.jpg', :width => '220px' %>
</a>

<a class="image_1st thumb" href="/images/anniversary/HDB12.jpg">
  <%= image_tag '/images/anniversary/HDB12.jpg', :width => '220px' %>
</a>
