<div id="contact_content">
  <p>
    If you have any other requirements or want to give us some feedbacks, please feel free to contact us via the <span style="font-style: italic;">following email:</span><br />
    minhthuorchids@gmail.com<br />
    vomaitram@gmail.com
  </p>
  <br />
  <p>
    <span style="font-style: italic;">or by phone:</span><br />
    0904 900 998 - Ms Thu (if you speak Vietnamese)<br />
    012 6709 8898 - Ms Tram (if you speak English)
  </p>
  <br />
  <p>
    If you would like to visit our orchids garden, we are more than happy to guide you around.
  </p>
  <br />
  <p>
    <span style="font-weight: bold; font-size: 14px;">Orchids Garden</span><br />
    45/4/17A Nguyen Don Tiet St<br />
    Binh Trung Dong Ward, District 2<br />
    Ho Chi Minh City, Vietnam
  </p>

</div>
