<div id="delivery_content">
  <p>
    We offer free delivery to the following areas:
  </p>

  <ul>
    <li>
  	Thao Dien Ward
    </li>
    <li>
	The Zoo
    </li>
    <li>
	Sushi Bar (Le Thanh Ton Street)
    </li>
    <li>
	Legend Hotel (Ton Duc Thang Street)
    </li>
  </ul>

  <p>
    For other areas, the delivery fee will be charged depending on the distances.
  </p>
</div>
