<div id="intro-slider">
  <img src="/images/intro/intro1.png" />
  <img src="/images/intro/intro2.png" />
  <img src="/images/intro/intro3.png" />
  <img src="/images/intro/intro4.png" />
  <img src="/images/intro/intro5.png" />
  <img src="/images/intro/intro6.png" />
  <img src="/images/intro/intro7.png" />
  <img src="/images/intro/intro8.png" />
  <img src="/images/intro/intro9.png" />
  <img src="/images/intro/intro10.png" />
</div>

<div id="intro-banner" class="avant_garde">
  <%= link_to 'Enter Site', {:controller => "general", :action => 'occasion'} %>
</div>
