<div id="order_content">
  <p>
    If you are interested in our design, please place an order (24 hours before the delivery day) by <span style="font-style: italic;">emailing to the following addresses:</span><br />
    minhthuorchids@gmail.com<br />
    vomaitram@gmail.com
  </p>
  <br />

  <p>
    <span style="font-style: italic;">or calling us:</span><br />
    0904 900 998 - Ms Thu (if you speak Vietnamese)<br />
    012 6709 8898 - Ms Tram (if you speak English)
  </p>
  <br />

  <p>
    If you are the recipient, we will receive the money when delivering flowers to you. If you are the giver, please transfer the money to the below account after ordering.
  </p>
  <br />

  <p>
    Bank: <span style="font-weight: bold; font-size: 14px;">Agribank (Branch Dong Sai Gon)</span><br />
    Account name: <span style="font-weight: bold; font-size: 14px;">Duong Thi Viet Thu</span><br />
    Account number: <span style="font-weight: bold; font-size: 14px;">6280 1101 0004 0154</span>
  </p>
</div>
